dcu/
NapGui.cfg
NapGui.exe
NapGui.map
*.dcu
*.~*
StoreTests.cfg
StoreTests.exe
*.error.log
*.map
NapGui.layout.ini
NapGui.trace.log
NapGui.layout.log
NapGui.render.log
NapGui.settings.ini
layouts/
*.drc
*.map.idx
ControlTests.cfg
ControlTests.exe
*.ini.bak
*.jdbg
